files:
  images:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/images/'
    file_pattern: 'ndk-{timestamp:%Y-%m-%d-%H-%M-%S}.jpg'
    latest_path: ''
    latest_filename: 'latest.jpg'
  timelapse:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/timelapse/'
    file_pattern: 'ndk-{timestamp:%Y-%m-%d-%H-%M-%S}.mp4'
    latest_path: ''
    latest_filename: 'latest-timelapse.mp4'
  overlay:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/overlay/'
    file_pattern: 'ndk-overlay-{timestamp:%Y-%m-%d-%H-%M-%S}.jpg'
    latest_path: ''
    latest_filename: 'latest-overlay.jpg'
  animation:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/animation/'
    file_pattern: 'ndk-animation-{timestamp:%Y-%m-%d-%H-%M-%S}.gif'
    latest_path: ''
    latest_filename: 'latest-animation.gif'


location: 
  latitude: 50.8
  longitude: 7
  timezone: Europe/Berlin
mqtt:
  client_name: skypic
  server: infopi.fritz.box
  topic: system/skypi/
watchdog_reset: ['/usr/bin/sudo', '/sbin/poweroff']
#watchdog_reset: ['test']
modes:
  night: # raspistill -ISO 800 -ex verylong -ss 5000000 -dt -awb cloud -a 12 --timelapse 0 -o ndk-%09d.jpg -t 999999999
    camera:
      resolution: [3280, 2464]
      shutter_speed: 10000000
      sensor_mode: 3
      iso: 1600
      exposure_mode: 'sports'
      awb_mode: 'cloudy'
      #awb_gains: [5.5, 5]
      annotate_text_size: 32
      #drc_strength: medium
      framerate: 0.1
      still_stats: True
    capture_options:
      format: jpeg
      burst: True
      quality: 95
      thumbnail: [328, 246, 80]
    wait_between: 0.1
    annotation: 'NDK SkyPi night {timestamp:%Y-%m-%d %H:%M:%S} UTC'
    processors:
      - class: SkyPiTimelapse
        options:
          name: timelapse
          cmd: 
            encode: ['ffmpeg', '-y', '-r', '20', '-f', 'image2pipe', '-vcodec', 'mjpeg', '-i', '-', '-vf', 'scale=1640:1232', '-vcodec', 'mpeg4', '-qscale:v', '5', '{filename_out}']
          output: timelapse
        add_old_files: True
      - class: SkyPiOverlay
        options:
          name: overlay
          cmd:
            init: ['convert', '-size', '3280x2464', 'xc:black', '{filename_out}']
            iterate: ['convert', '{filename_out}', '{filename_in}', '-gravity', 'center', '-compose', 'lighten', '-composite', '-format', 'jpg', '{filename_out}']
          output: overlay
        add_old_files: True
      - class: SkyPiThumbnailGif
        options: 
          name: gif
          cmd:
            extract: ['exiftool', '-b', '-ThumbnailImage', '{filename_in}']
            convert: ['ffmpeg', '-y', '-f', 'image2pipe', '-vcodec', 'mjpeg', '-i', '-', '-vf', 'fps=7,split[s0][s1];[s0]palettegen[p];[s1][p]paletteuse', '-loop', '0', '{filename_out}']
          repeat_last_image: 10
          length: 50
        output: animation
        add_old_files: 50
  day: # raspistill -ISO 800 -ex verylong -ss 5000000 -dt -awb cloud -a 12 --timelapse 0 -o ndk-%09d.jpg -t 999999999
    camera:
      resolution: [3280, 2464]
      annotate_text_size: 16
      awb_mode: cloudy
      exposure_mode: auto
      iso: 100
      annotate_text_size: 32
      shutter_speed: 0
      still_stats: True
      sensor_mode: 3
      framerate_range: [0.5, 15]
    capture_options:
      format: jpeg
      burst: False
      quality: 95
      thumbnail: [328, 246, 80]
    wait_between: 8
    annotation: 'NDK SkyPi day {timestamp:%Y-%m-%d %H:%M:%S} UTC'
    processors:
      - class: SkyPiTimelapse
        options:
          name: timelapse
          cmd: 
            encode: ['ffmpeg', '-y', '-r', '20', '-f', 'image2pipe', '-vcodec', 'mjpeg', '-i', '-', '-vf', 'scale=1640:1232', '-vcodec', 'mpeg4', '-qscale:v', '5', '{filename_out}']
        output: timelapse
        add_old_files: True
      - class: SkyPiOverlay
        options:
          name: overlay
          cmd:
            init: ['convert', '-size', '3280x2464', 'xc:white', '{filename_out}']
            iterate: ['convert', '{filename_out}', '{filename_in}', '-gravity', 'center', '-compose', 'darken', '-composite', '-format', 'jpg', '{filename_out}']
        output: overlay
        add_old_files: True
      - class: SkyPiThumbnailGif
        options: 
          name: gif
          cmd:
            extract: ['exiftool', '-b', '-ThumbnailImage', '{filename_in}']
            convert: ['ffmpeg', '-y', '-f', 'image2pipe', '-vcodec', 'mjpeg', '-i', '-', '-vf', 'fps=7,split[s0][s1];[s0]palettegen[p];[s1][p]paletteuse', '-loop', '0', '{filename_out}']
          repeat_last_image: 10
          length: 50
        output: animation
        add_old_files: 50

