log: '/data/images/log/log.txt'
files:
  images:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/images/'
    file_pattern: 'ndk-{timestamp:%Y-%m-%d-%H-%M-%S}.jpg'
    latest_path: ''
    latest_filename: 'latest.jpg'
    retain_days: 4
  timelapse:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/'
    file_pattern: 'ndk-timelapse.mp4'
    latest_path: ''
    latest_filename: 'latest-timelapse.mp4'
    retain_days: 30
    upload:
      cmd: ['/usr/local/bin/youtubeuploader_linux_armv7', '-filename', '{filename}', '-description', 'Automatic recording of the {mode} sky over Niederkassel. Recorded on {date:%Y-%m-%d}. Recorded using a raspberry pi and a wide-angle camera.', '-title', '{mode} sky over Niederkassel: {date:%Y-%m-%d}']
  overlay:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/'
    file_pattern: 'ndk-overlay.jpg'
    latest_path: ''
    latest_filename: 'latest-overlay.jpg'
    retain_days: 30
  overlay_normalized_15:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/'
    file_pattern: 'ndk-overlay-normalized-15.jpg'
    latest_path: ''
    latest_filename: 'latest-overlay-normalized-15.jpg'
    retain_days: 30
  overlay_normalized_25:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/'
    file_pattern: 'ndk-overlay-normalized-25.jpg'
    latest_path: ''
    latest_filename: 'latest-overlay-normalized-25.jpg'
    retain_days: 30
  overlay_normalized_20:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/'
    file_pattern: 'ndk-overlay-normalized-20.jpg'
    latest_path: ''
    latest_filename: 'latest-overlay-normalized-20.jpg'
    retain_days: 30
  animation:
    base_path: '/data/images'
    storage_path: '{date:%Y-%m-%d}-{mode}/'
    file_pattern: 'ndk-animation.gif'
    latest_path: ''
    latest_filename: 'latest-animation.gif'
    retain_days: 1


location: 
  latitude: 50.8
  longitude: 7
  timezone: Europe/Berlin
mqtt:
  client_name: skypic
  server: infopi.fritz.box
  topic: system/skypi/
watchdog:
  timeout_seconds: 180
  reset_cmd: ['/usr/bin/sudo', '/sbin/poweroff']
modes:
  night: # raspistill -ISO 800 -ex verylong -ss 5000000 -dt -awb cloud -a 12 --timelapse 0 -o ndk-%09d.jpg -t 999999999
    camera:
      resolution: [3280, 2464]
      shutter_speed: 10000000
      sensor_mode: 3
      iso: 1600
      exposure_mode: 'sports'
      awb_mode: 'off'
      awb_gains: [1.51, 1.95]
      annotate_text_size: 32
      #drc_strength: medium
      framerate: 0.1
      #still_stats: True
    #target_brightness: 32
    capture_options:
      format: jpeg
      burst: True
      quality: 95
      thumbnail: [328, 246, 80]
    wait_between: 0.1
    annotation: 'NDK SkyPi night {timestamp:%Y-%m-%d %H:%M:%S} UTC'
    processors:
      - cls: SkyPiTimelapse
        options:
          name: timelapse
          cmd: 
            encode: ['ffmpeg', '-hide_banner', '-loglevel', 'panic', '-y', '-r', '20', '-f', 'image2pipe', '-vcodec', 'mjpeg', '-i', '-', '-vf', 'scale=1640:1232', '-vcodec', 'mpeg4', '-qscale:v', '5', '-f', 'mp4', '{filename_out}']
        output: timelapse
      - cls: SkyPiOverlay
        options:
          name: overlay_normalized_15
          cmd:
            init: ['convert', '-size', '3280x2464', 'xc:black', '{filename_out}']
            iterate: ['convert', '{filename_out}', 'jpg:-', '-gravity', 'center', '-compose', 'lighten', '-composite', '-format', 'jpg', '{filename_out}']
          target_brightness: 15
        output: overlay_normalized_15
      - cls: SkyPiOverlay
        options:
          name: overlay_normalized_25
          cmd:
            init: ['convert', '-size', '3280x2464', 'xc:black', '{filename_out}']
            iterate: ['convert', '{filename_out}', 'jpg:-', '-gravity', 'center', '-compose', 'lighten', '-composite', '-format', 'jpg', '{filename_out}']
          target_brightness: 25
        output: overlay_normalized_25
      - cls: SkyPiOverlay
        options:
          name: overlay_normalized_20
          cmd:
            init: ['convert', '-size', '3280x2464', 'xc:black', '{filename_out}']
            iterate: ['convert', '{filename_out}', 'jpg:-', '-gravity', 'center', '-compose', 'lighten', '-composite', '-format', 'jpg', '{filename_out}']
          target_brightness: 20
        output: overlay_normalized_20
      - cls: SkyPiOverlay
        options:
          name: overlay
          cmd:
            init: ['convert', '-size', '3280x2464', 'xc:black', '{filename_out}']
            iterate: ['convert', '{filename_out}', '-format', 'jpg', '-', '-gravity', 'center', '-compose', 'lighten', '-composite', '-format', 'jpg', '{filename_out}']
        output: overlay
      - cls: SkyPiThumbnailGif
        options: 
          name: gif
          cmd:
            extract: ['exiftool', '-b', '-ThumbnailImage', '{filename_in}']
            convert: ['ffmpeg', '-hide_banner', '-loglevel', 'panic', '-y', '-f', 'image2pipe', '-vcodec', 'mjpeg', '-i', '-', '-vf', 'fps=7,split[s0][s1];[s0]palettegen[p];[s1][p]paletteuse', '-loop', '0', '-f', 'gif', '{filename_out}']
          repeat_last_image: 10
          length: 50
        output: animation
  day: # raspistill -ISO 800 -ex verylong -ss 5000000 -dt -awb cloud -a 12 --timelapse 0 -o ndk-%09d.jpg -t 999999999
    camera:
      resolution: [3280, 2464]
      annotate_text_size: 16
      awb_mode: cloudy
      exposure_mode: auto
      iso: 100
      annotate_text_size: 32
      shutter_speed: 0
      #still_stats: True
      sensor_mode: 3
      framerate_range: [0.1, 15]
      drc_strength: high
    #target_brightness: 150
    capture_options:
      format: jpeg
      burst: False
      quality: 95
      thumbnail: [328, 246, 80]
    wait_between: 15
    annotation: 'NDK SkyPi day {timestamp:%Y-%m-%d %H:%M:%S} UTC'
    processors:
      - cls: SkyPiTimelapse
        options:
          name: timelapse
          cmd: 
            encode: ['ffmpeg', '-hide_banner', '-loglevel', 'panic', '-y', '-r', '20', '-f', 'image2pipe', '-vcodec', 'mjpeg', '-i', '-', '-vf', 'scale=1640:1232', '-vcodec', 'mpeg4', '-qscale:v', '5', '-f', 'mp4', '{filename_out}']
        output: timelapse
      - cls: SkyPiThumbnailGif
        options: 
          name: gif
          cmd:
            extract: ['exiftool', '-b', '-ThumbnailImage', '{filename_in}']
            convert: ['ffmpeg', '-hide_banner', '-loglevel', 'panic', '-y', '-f', 'image2pipe', '-vcodec', 'mjpeg', '-i', '-', '-vf', 'fps=7,split[s0][s1];[s0]palettegen[p];[s1][p]paletteuse', '-loop', '0', '-f', 'gif', '{filename_out}']
          repeat_last_image: 10
          length: 50
        output: animation

