[Unit]
Description=SkyPi Script
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/skypic/main.py settings.yml
Restart=on-failure
RestartSec=5s
User=pi
Group=pi
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=60
WorkingDirectory=/home/pi/skypic/


[Install]
WantedBy=multi-user.target
